@model PatatzaakSoftwareMVC.Models.Item
@* This page hold the buttons to navigate to the CRUD functionality pages for Item. *@

<html>
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="../wwwroot/lib/bootstrap/dist/css/bootstrap.min.css" />
    <script src="../wwwroot/lib/bootstrap/dist/js/bootstrap.js"></script>
    <link rel="stylesheet" href="../wwwroot/css/site.css" />
    <script src="../wwwroot/js/site.js"></script>
    <title>Crud page</title>
</head>
<body style="margin-top: 1%">
    <h1>CRUD functionality page for Item</h1>

    <div class="d-flex align-items-center justify-content-center vh-100">
        <div class="row" display="flex">
            <div class="col">
                <a asp-area="" asp-controller="CRUDItemPage" asp-action="Create" class="btn">Create Item</a>
            </div>
            <div class="col">
                <a asp-area="" asp-controller="CRUDItemPage" asp-action="Read" class="btn">Read Item(s)</a>
            </div>
            <div class="col">
                <a asp-area="" asp-controller="CRUDItemPage" asp-action="Update" class="btn">Update/Edit Item</a>
            </div>
            <div class="col">
                <a asp-area="" asp-controller="CRUDItemPage" asp-action="Delete" class="btn">Delete Item</a>
            </div>
        </div>
    </div>
</body>
</html>
