@model PatatzaakSoftwareMVC.Models.Item;

@* 'Remove Item (DELETE) *@
<div class="row justify-content-center align-items-center p-1">
    <form method="post" action="/Item/ProcessDeletionForm">
        @Html.AntiForgeryToken()
        <div class="form-group">
            <label asp-for="Id"></label>
            <input asp-for="Id" class="form-control" />
            <span asp-validation-for="Id" id="deleteItemId" class="text-danger"></span>
        </div>
        
        <button type="submit" class="btn btn-primary" style="color: black">Delete</button>
    </form>
</div>
