@* 
@model PatatzaakSoftwareMVC.Models.Item;

<div class="row justify-content-center align-items-center p-1">
    <form method="post" action="/Item/ProcessLoadForm">
        @Html.AntiForgeryToken()
        <div class="form-group">
            <label asp-for="Id"></label>
            <input asp-for="Id" class="form-control" />
            <span asp-validation-for="Id" id="loadItemId" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary" style="color: black">Load</button>
    </form>
</div>



<div class="row justify-content-center align-items-center p-1">
    <a asp-area="" asp-controller="Item" asp-action="LoadAllItemsAsJson" class="btn">Load All Items in JSON page</a>
</div>


<div class="row justify-content-center align-items-center p-1">
    <a asp-area="" asp-controller="Item" asp-action="LoadItemsAsObjects" class="btn">Load All Items as objects</a>
</div> *@
@*  This page is still inhe project to show what i did before switching to the DI version of accessing the db, go to the GeneratedItem folder for the working CRUD page        *@     