@model PatatzaakSoftwareMVC.Models.ViewModels.CompanyPageViewModel;

@{
    ViewData["Title"] = "Company";
    var placedOrders = Model.GetPlacedOrders();
    var readyOrders = Model.GetReadyOrders();
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h3 class="text-center">Orders</h3>
            <hr />
        </div>
    </div>
    <div class="row">
       @*  Placed Orders *@
        <div class="col-md-8">
            @if(placedOrders != null)
            {
                @foreach(Order order in placedOrders)
                {
                    <div class="col-md-2 text-center itemCol p-2" style="display: inline-block;">
                        <button onclick="ReadyOrder('@order.Id')">@order.Id</button>
                    </div>
                }
            }
        </div>

       @*  Ready Orders *@
        @if (readyOrders != null)
        {
            @foreach (Order order in readyOrders)
            {
                <div class="col-md-2 text-center itemCol p-2" style="display: inline-block;">
                    <button onclick="CompleteOrder('@order.Id')">@order.Id</button>
                </div>
            }
        }
        
           
    </div>
</div>