@model PatatzaakSoftwareMVC.Models.ViewModels.CompanyPageViewModel;

@{
    ViewData["Title"] = "Company";
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h3 class="text-center">Orders</h3>
            <hr />
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>Placed Orders ID's</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach(var order in Model.GetPlacedOrders())
                    {
                        <tr>
                            <td>@order.Id</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>