@page
@model PatatzaakSoftwareMVC.Models.PageModels.ItemPageModel
@{
    List<Item> items = Model.Items();
}


<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Item JSON Data</title>
</head>
<body>
    <h1>ItemModelTest</h1>

    <ul>
       
        @if (items != null)
        {
            @foreach (Item item in items)
            {
                <li>@item</li>
            }
        }
    </ul>
</body>
</html>

