<html>
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="../bootstrap/dist/css/bootstrap.min.css" />
    <script src="../bootstrap/dist/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../css/mainStyle.css" />
    <script src="../js/script.js"></script>
    <title>Customer page</title>
</head>
<body style="margin-top: 1%">
    <h1>CRUD functionality page for Item</h1>
    <div class="container">
        <label>__________________________________________________________________________________________________________________________________________________________________</label>

        @* Create Item (CREATE) *@
        <div class="row justify-content-center align-items-center p-1">
            <form method="post" action="/Item/CreateItem">
                <div class="col-md-4">
                    <label for="ItemName">itemName:</label>
                    <input type="text" name="ItemName" id="ItemName" required />
                </div>
                <div class="col-md-4">
                    <label for="ItemPrice">itemPrice:</label>
                    <input type="text" name="ItemPrice" id="ItemPrice" required />
                </div>
                <div class="col-md-4">
                    <label for="ItemDiscount">itemDiscount:</label>
                    <input type="text" name="ItemDiscount" id="ItemDiscount" required />
                </div>
                <div class="col-md-4 p-2">
                    <button type="submit" class="btn">Create Item</button>
                </div>
            </form>
        </div>
        <label>__________________________________________________________________________________________________________________________________________________________________</label>
        @* Load Item (READ) *@
        <div class="row justify-content-center align-items-center p-1">
            <form method="post" action="/Item/ProcessLoadForm">
                <div class="col-md-4">
                    <label for="ItemToLoadId">Item ID:</label>
                    <input type="text" name="ItemToLoadId" id="ItemToLoadId" required />
                </div>
                <div class="col-md-4 p-2">
                    <button type="submit" class="btn">Load Item</button>
                </div>
            </form>
        </div>

        <div class="row justify-content-center align-items-center p-1">
            <a asp-area="" asp-controller="Item" asp-action="LoadAllItemsAsJson" class="btn">Load All Items in JSON page</a>
        </div>

        @* Dit is een testknop die nog niet werkt *@
       @* <div class="row justify-content-center align-items-center p-1">
            <a asp-area="" asp-controller="Item" asp-action="ItemModelTest" class="btn testButton">Load All Items in model view</a>
        </div>
*@

        <div class="row justify-content-center align-items-center p-1">
            <a asp-area="" asp-controller="Item" asp-action="LoadItemsAsObjects" class="btn">Load All Items as objects</a>
        </div>
        
        <label>__________________________________________________________________________________________________________________________________________________________________</label>        @* Edit Item (UPDATE) *@
        @* Edit Item (UPDATE) *@
        <div class="row justify-content-center align-items-center p-1">
            <form method="post" action="/Item/ProcessEditForm">
                <div class="col-md-4">
                    <label for="ItemToEditId">Item ID:</label>
                    <input type="text" name="ItemToEditId" id="ItemToEditId" required />              
                </div>
                <div class="col-md-4">
                    <label for="ItemNewName">itemNewName:</label>
                    <input type="text" name="ItemNewName" id="ItemNewName" />
                </div>
                <div class="col-md-4">
                    <label for="ItemNewPrice">itemNewPrice:</label>
                    <input type="text" name="ItemNewPrice" id="ItemNewPrice" />
                </div>
                <div class="col-md-4">
                    <label for="ItemNewDiscount">itemNewDiscount:</label>
                    <input type="text" name="ItemNewDiscount" id="ItemNewDiscount" />
                </div>
                <div class="col-md-4 p-2">
                    <button type="submit" class="btn">Edit Item</button>
                </div>
            </form>
        </div>
        <label>__________________________________________________________________________________________________________________________________________________________________</label>        @* Remove Item (DELETE)*@
        @* 'Remove Item (DELETE) *@
        <div class="row justify-content-center align-items-center p-1">
            <form method="post" action="/Item/ProcessDeletionForm">
                <div class="col-md-4">
                    <label for="ItemToDeleteId">Item ID:</label>
                    <input type="text" name="ItemToDeleteId" id="ItemToDeleteId" required />
                </div>
                <div class="col-md-4 p-2">
                    <button type="submit" class="btn">Delete Item</button>
                </div>
            </form>
        </div>
        <label>__________________________________________________________________________________________________________________________________________________________________</label>
    </div>
</body>
</html>
