@{
    ViewData["Title"] = "Home Page";
}

<body>
    <div class="container-sm homemessage">
        <label>Welcome to the patatzaaksoftware weetjewel</label>
       @*  make this a page to login where the user is stored in the sessionstorage, depending on who the user is make the navbar fit to the role the user has *@
    </div>
</body>
