@{
    ViewData["Title"] = "Home Page";
}

<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="bootstrap/dist/css/bootstrap.min.css" />
    <script src="bootstrap/dist/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="css/mainStyle.css" />
    <title>Home page</title>
</head>
<body>
    <div class="container-sm homemessage">
        <label>This page is solely used as a temporary navigation page between company and customer pages</label>
    </div>

    <div class="d-flex align-items-center justify-content-center vh-100">
        <div class="row" display="flex">
            <div class="col">
                <a asp-area="" asp-controller="Home" asp-action="CompanyPage" class="btn">Company page</a>
            </div>
            <div class="col">
                <a asp-area="" asp-controller="Customer" asp-action="Index" class="btn">Customer page</a>
            </div>         
            <div class="col">
                <a asp-area="" asp-controller="GeneratedItem" asp-action="Index" class="btn">Item CRUD Page</a>
            </div>
        </div>
    </div>
</body>
