@using Newtonsoft.Json

@{
    ViewData["Title"] = "Home Page";
    string jsonString = Context.Session.GetString("User");
    // Deserialize the JSON string into a User object if jsonString is not null
    User user = jsonString != null ? JsonConvert.DeserializeObject<User>(jsonString) : null;
}

<body>
    <div class="container-sm homemessage">
        @if (user != null)
        {
            <span>Welcome @user.Name</span>
        }
        else
        {
            <span>Log in please: <a href="/Login">Login</a></span>

        }
    </div>
</body>
