@using Newtonsoft.Json

@{
    ViewData["Title"] = "Home Page";
    string jsonString = Context.Session.GetString("User");
    // Deserialize the JSON string into a User object if jsonString is not null
    User user = jsonString != null ? JsonConvert.DeserializeObject<User>(jsonString) : null;
}

<body style="background-image: url(https://wallpapercave.com/wp/wp2148241.jpg); background-size: cover">
    <div class="container-sm homemessage">
        @if (user != null)
        {
         

            <div>
                <h2>Welkom @user.Name bij Patatzaak - De Smakelijkste Frituur in de Buurt!</h2>

                <p>Beste patatliefhebbers,</p>

                <p>Welkom bij Patatzaak, de plek waar smaak en gezelligheid samenkomen! Bij Patatzaak streven we ernaar om jou de allerlekkerste frietjes en snacks te bieden, bereid met passie en verse ingrediënten.</p>

                <p>Onze frituur is niet zomaar een eetgelegenheid; het is een plek waar vrienden samenkomen, families genieten en nieuwe herinneringen worden gemaakt. Ons toegewijde team staat klaar om jou te verwelkomen en een onvergetelijke smaakervaring te bieden.</p>

                <p><strong>Wat maakt Patatzaak speciaal?</strong></p>
                <ul>
                    <li>Gouden, knapperige frietjes, gebakken tot in de perfectie.</li>
                    <li>Een uitgebreid assortiment aan snacks voor elke smaak.</li>
                    <li>Vriendelijke service in een gezellige ambiance.</li>
                    <li>Lokale ingrediënten voor de beste kwaliteit.</li>
                </ul>

                <p>Of je nu langskomt voor een snelle hap of een uitgebreide maaltijd, we beloven je een smakelijke ervaring die je keer op keer terug laat komen. Verken ons menu, ontdek onze specialiteiten en laat je smaakpapillen verrassen.</p>

                <p>Volg ons op sociale media om op de hoogte te blijven van speciale aanbiedingen, evenementen en meer. We kijken ernaar uit om je te mogen verwelkomen bij Patatzaak!</p>

                <p>Eet smakelijk!</p>

                <p>Met vriendelijke groet,<br> Het team van Patatzaak</p>
            </div>

        }
        else
        {
            <span>Log in please: <a href="/Login">Login</a></span>

        }

    </div>
</body>
