@model PatatzaakSoftwareMVC.Models.User
@{
    ViewData["Title"] = "Register";
    var errorMessage = ViewBag.ErrorMessage as string;
}

<body>

    @if (!string.IsNullOrEmpty(errorMessage))
    {
        <div class="alert alert-danger">
            @errorMessage
        </div>
    }
    <div style="text-align: center; margin-top: 70px">
        <label style="color: red; margin-bottom:50px">Create an account</label>
    </div>
    <div>
        <h3 class="text-center">Create a new account</h3>
        <hr />
    </div>

    <div class="container-sm homemessage">
        <form asp-action="Register" method="post">

            <div class="form-group">
                <label asp-for="Name"></label>
                <input asp-for="Name" class="form-control bg-dark text-white" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Email"></label>
                <input asp-for="Email" class="form-control bg-dark text-white" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Password"></label>
                <input asp-for="Password" type="password" class="form-control bg-dark text-white" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <button style="margin-top:5px" type="submit" class="btn btn-primary">Register</button>
        </form>
        <a class="btn" asp-controller="Login" asp-action="Index">Back to Login</a>
    </div>
</body>
