html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

body {
}

h1 {
}



.btn {
    margin-top: 2px;
    color: white;
    background: linear-gradient(90deg, rgba(29, 29, 29, 1) 0%, rgba(55, 55, 55, 1) 0%, rgba(57, 57, 57, 1) 0%);
    border-color: black;
    border-width: 2px;
    transition: all 0.3s ease; 
}

.btn:hover {
    background: white;
    color:black
}
.order-btn {
    background-color: #3498db;
    color: #fff;
    border: none;
    padding: 15px 30px; 
    cursor: pointer;
    font-size: 50px; 
}

.homemessage {
    text-align: center;
    font-size: 20px;
}

.border-sect {
    border-style: solid;
    border-width: 5px;
    border-color: transparent;
    border-radius: 5px;
}

th {
    color: white;
}
td {
    color: white;
}

.navcomponent {
    color: white;
}

.navcomponent:hover{
    cursor: pointer;
}

body {
    background: linear-gradient(90deg, rgba(18,18,20,1) 0%, rgba(42,42,52,1) 42%);
    color: white;
}

.order-button {
    text-align: center;
}

.wrap {
    display: flex;
}

.box {
    height: 100vh;
    width: 50vw;
    background-color: blue;
    overflow-y: scroll;
}

#menuColumn {
    max-height: 78vh;
    overflow-y: auto;
}

#receipt {
    max-height: 60vh;
    overflow-y: auto;
}

.receiptPart {
    border-left: 1px solid black;
}

.testButton {
    background-color: red;
}

.objectItemViewRow {
    display: flex;
}

.objectItemViewCol {
    flex: 1;
    margin-right: 10px;
}

::-webkit-scrollbar {
    width: 12px;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(90deg, rgba(56,56,56,1) 0%, rgba(105,105,105,1) 60%, rgba(56,56,56,1) 96%);
    border-radius: 10px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}




.dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 10px;
    z-index: 1;
    width: 300px;
    max-height: 200px;
    overflow-y: auto;
    left: 50%;
    transform: translateX(-50%);
}

.dropdown-content p {
    margin: 0;
    padding: 8px 0;
    border-bottom: 1px solid #ddd;
}

.dropdown-content p:last-child {
    border-bottom: none;
}

.header-label {
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
    color: white;
}

#orderList{
    height: 70vh;
    overflow-y: auto;
}
